{% extends 'base.html' %}

{% block addons %}
    <meta name="description" content="Here is the complete list of all our products.">
    <meta name="author" content="JKW Woodworks Team">
{% endblock %}

{% block content %}
    <section>
        <div class="bubble">
            <h1>The Full List of Products</h1>
        </div>
        <div class="itemList">
        {% for item in items %}
            <div class="item">
                <img src="/bucket/tmb-{{ item.img }}" alt="{{ item.title }}">
                <h4>{{ item.title }}</h4>
                <p>Price: ${{ item.price }}</p>
                <p><a href="/product-view/{{ item._id }}">Details</a></p>
            </div>
        {% endfor %}
        </div>
    </section>
{% endblock %}